<style type="text/css">

nody{
    background:#222;
    margin: 0;
}

.thumbnails img 
{
    height:80px;
    border: 4px solid #555;
    padding: 1 px
   margin: 0 10px 10px 0;
}

.thumbnails img:hoover
{
    border: 4px solid #00ccff;
    cursor:pointer;
}

.preview img
{
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}
</style>